.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.feature-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-item:hover .feature-icon,
.features-item:focus-within .feature-icon {
  fill: #4d5ae5;
}

.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
